[Unit]
Description = System monitor for the Raspberry PI
After = network.target

[Service]
Type = simple
sudo python3 /usr/share/rpimonitor/web/addons/dorkbox/play_music7a.py &
ExecStart = /usr/bin/rpimonitord

[Install]
WantedBy = multi-user.target
